.jumbotron {
    padding: 50px 30px 50px 30px;
    margin: 0px auto;
    background: #d1c4e9;
    color: black;
    font-size: larger;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.row-content {
    margin: 10px auto;
    padding: 1px 0px 1px 0px;
    border-bottom: 1px ridge;
}

.carousel-item img {
    max-width: 100%;
    height: 140px;
}
